<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="DomoticWebInterface.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <title>Master</title>
    <link rel="shortcut icon" href="img/favico.ico"/>
    <link href="css/MasterPageStyleSheet.css" rel="stylesheet" type="text/css" media="screen" />


    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   
     <link rel="stylesheet" href="css/jquery-ui.css"/>
    

   <script src="js/myScript.js"></script>


    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server">
    
        

            <table id="wrapper" class="shadow">
                <tr id="header">

                    <td>

                        
                        <img
                            style="width:500px;margin-left:30px"
                           
                            src="img/Logo2.gif"
                            />


                    </td>


                    <td style="width:100%;height:400px;">

                        <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                        </asp:ContentPlaceHolder>


                    </td>


                </tr>

                <tr>
                    <td colspan="2" style="border-top: 10px solid #98c335">

                        <asp:ContentPlaceHolder ID="ContentPlaceHolder3" runat="server">
                        </asp:ContentPlaceHolder>

                   

                    </td>
                </tr>

                <tr style="height:90px">
                    <td id="footer" colspan="2">
                        <p>Progect in laboratory, Turin, 2015</p>
                    </td>
                </tr>


                


            </table>

        
        
    
    </form>
</body>
</html>
