<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DomoticHostServer.Properties.Settings.domoticConnectionString"
            connectionString="Data Source=YOGA;Initial Catalog=domotic;Persist Security Info=True;User ID=garronej;Password=aaa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>