html {
    background-color: #808080;
}

#wrapper {
    
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/backgroundPS.gif);
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    border: 3px solid #98c335;
    border-radius: 20px;
    overflow: hidden;
    width:1442px
}

#header {
    background-color:rgba(59, 59, 59, 0.7);
    /*height:500px;*/
}

#footer {
    height: 5%;
    background-color: rgba(59, 59, 59, 0.7);
    text-align: center;
}

    #footer p {
        color: #98c335;
        font-size: 80%;
    }


    


/*Header*/

/*
#header {
    height: 15%;
    width: 100%;
    background-color: rgba(59, 59, 59, 0.7);
    border-bottom: 10px solid #98c335;
    vertical-align: bottom;
}

    */

/*
.logo {
    width: 27%;
    height: auto;
    margin-left: 1%;
    margin-bottom: 1px;
    float:left;
}
    */










    




